#nav-header{
    padding: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-header a{
    padding: 8px;
}

#nav-header #logo h1{
    color: #b1ff1f;
}

#logo {
    color: #b1ff1f;
    font-size: 35px;
    font-weight: 900;
}

#footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* gap: 500px; */
}

#footer .links a{
    padding: 10px;
}

#home,
#about,
#services,
#contact{
    height: 90vh;
}

#login,
#signup{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#login form,
#signup form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-data{
    padding: 5px;
}

.sub{
    padding: 10px;
}

#nav-header .hidden{
    display: none;
}

#nav-header .shown{
    display: block;
}

/* sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper{
    align-items: center;
    position: absolute;
    top: 60px;
}

.showSide {
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 10px;
}

.hideSide {
    display: none;
}

/* links popup */
#social-links-settings{
    background: #00000034;
    height: 40vh;
    width: 40vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    border: 2px solid #b1ff1f73;
}

#social-links-settings h1{
    text-align: center;
}

#social-links-settings form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.pop-btn{
    background: none;
    font-size: 19px;
    cursor: pointer;
}

.pop-btn:hover{
    color: whitesmoke;
}

.side{
    padding: 5px;
    border-bottom: 2px solid wheat;
}

a{
    font-size: 19px;
    font-weight: 400;
}