*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #bbb;
}

body{
  background-color: rgb(7, 0, 22);
}

input[type="submit"]{
  background: #b1ff1fc4;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
}

h1{
  color: #b1ff1f;
}

input[type='text'],
input[type='email'],
input[type='password']{
  background: none;
  border-bottom: 1px solid #b1ff1f;
}

a:hover{
  color: whitesmoke;
}